.Layout {
  background-color: hsl(156, 43%, 60%);
  background-image: var(--gradient-dark);
  border: 2px solid gold;

  position: absolute;
  // inset: 0;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
}

@media (min-width: 500px) {
  .Layout {
      inset: 0;
  }
  
}