.Layout {
  background-color: hsl(150, 65%, 40%);
  padding: 1rem;
  // background-image: var(--gradient-dark);
  // border: 1rem solid rgb(170, 159, 94, .5);
  // height: 100vh;

  // position: absolute;
  // inset: 0;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  height: 100vh;

  overflow: auto;
}

@media (prefers-reduced-motion: no-preference) {
}

@media (min-width: 500px) {
  .Layout {
    padding: 2rem 4rem;
  }
}

@media (min-width: 900px) {
  .Layout {
    padding: 2rem 3rem;
  }
}
