.Project {
  border: 3px solid green;
  border-radius: 1rem;
  width: 50%;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  color: white;

  h3 {
    // background-color: gray;
    width: fit-content;
  }

  p {
    // background-color: darkgray;
    text-align: justify;
  }
}
