.Project {
  background-color: purple;
  border: 0.1rem solid pink;
  width: 100%;
  // margin: 1rem;
  // padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  color: white;
}

// @media (min-width: 500px) {
//   .Project {
//     width: 50%;
//   }
// }
