.About {
  background-color: hsl(120, 73%, 75%);
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem 2rem 2rem 4rem;

  section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
      border-radius: 1rem;
    }

    h3 {
      font-size: 2rem;
    }

    div + div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      // outline: red solid 2px;

      a {
        opacity: 50%;
        font-size: 1.25rem;
        // outline: blue solid 2px;

        &:hover {
          opacity: 75%;
        }
      }
    }

    p {
      background-color: hsl(351, 100%, 90%, 0.75);
      border-radius: 1rem;
      padding: 1rem;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
    }
  }
}

@media (min-width: 500px) {
  .About {
    margin: 2rem 3rem 3rem 5rem;
    padding: 2rem;

    section {
      flex-direction: row;
      justify-content: space-evenly;
    }

    section + section {
      align-items: flex-start;
    }
  }
}
